<div class="container">

        <div class="contactos">
           <div>
            <div class="contactos-item">
                <mat-icon class="contactos-icon-color">email</mat-icon>
                <p>brayan18-cevallos@hotmail.com</p>

            </div>
            <div class="contactos-item">
                <mat-icon class="contactos-icon-color">location_on</mat-icon>
                <p>Quito, Nueva Aurora Av.Maldonado y Calle Fenicio Angulo</p>
            </div>
            <div class="contactos-item">
                <mat-icon class="contactos-icon-color">call</mat-icon>
                <p>0995901335</p>
            </div>
           </div>

           <div class="imagen-presentacion">
            <img class="img-fluid" src="assets/img/img-presentacion.jpg" >
        </div>
        </div>

</div>