<div class="container presentacion">

    <div class="imagen-presentacion">
        <img class="img-fluid" src="assets/img/img-presentacion.jpg" >
    </div>
    <div class="texto-presentacion">
        <p>Hola permite presentarme me llamo </p> <h1>Brayan Cevallos</h1>
        <p>
            Soy un aprendiz de desarrollo de aplicaciones moviles y desarrollo web front-end.
        </p>
        <p>
            Puedes echar un vistaso a mis proyectos personales.
        </p>
        <div class="btns-inicio">

            <button mat-raised-button color="primary" class="btn-presentacion" (click)="proyectos()"> Proyectos </button> 
            <a mat-raised-button color="dark" class="btn-presentacion" target="download" download href="https://firebasestorage.googleapis.com/v0/b/variedadesjastho.appspot.com/o/CV-BC.pdf?alt=media&token=6d5fa800-30c0-4c12-9b53-09f43b35913e"> Descargar CV <mat-icon>file_download</mat-icon> </a> 
        </div>
    </div>
    
</div>
