<header class="header">

    <nav class="navbar">
        <a  class="nav-logo" routerLink="inicio" >Developer!<mat-icon> android</mat-icon> </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="proyectos" routerLinkActive="active">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactos" routerLinkActive="active">Contactos</a>
            </li>
        </ul>


        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav>

</header>