<div class="container">
    <div class="proyectos">
        <div class="proyectos-item">
            <img class="img-proyectos" src="assets/img/ic-messenger.png" alt="messenger">
            <h1>Mensajeria</h1>
            <p>Una aplicacion para chatear con tus amigos.</p>
            <button mat-raised-button class="btn-proyectos" color="primary" (click)="detalleProyecto(1)">Ver proyecto</button>
        </div>

        <div class="proyectos-item">
            <img class="img-proyectos" src="assets/img/ic-market.png" alt="martek">
            <h1>Tienda</h1>
            <p>Una aplicacion para publicar productos de venta.</p>
            <button mat-raised-button class="btn-proyectos"color="primary" (click)="detalleProyecto(2)">Ver proyecto</button>
        </div>


        <div class="proyectos-item">
            <img class="img-proyectos" src="assets/img/ic-compresor.png" alt="compresor">
            <h1>ComprimirVideos</h1>
            <p>Una aplicacion para comprimir Videos, imagenes y extraer Audios.</p>
            <button mat-raised-button class="btn-proyectos" color="primary" (click)="detalleProyecto(3)">Ver proyecto</button>
        </div>

        <div class="proyectos-item">
            <img class="img-proyectos" src="assets/img/ic-movies.png" alt="movies">
            <h1>Inforamcion Peliculas</h1>
            <p>Una aplicacion para ver la informacion de peliculas.</p>
            <button mat-raised-button class="btn-proyectos" color="primary" (click)="detalleProyecto(4)">Ver proyecto</button>
        </div>
    </div>
</div>